---
layout: base.njk
---

section.one-info
  h2.section-header Birthday Dirge
  div(style="text-align:center")
    div  May the candles on your cake
    div  Burn like cities in your wake
    div  On your birthday. *stomp*
    div  Happy birthday. *stomp* 
    p
    div  May your deeds with sword and axe
    div  Outshine those with sheep and yaks
    div  On your birthday. *stomp*
    div  Happy birthday. *stomp* 
    p
    div  Storm the castle, burn the keep,
    div  Kill the women, save the sheep
    div  On your birthday. *stomp*
    div  Happy birthday. *stomp* 
    p
    div  Here's a lesson you must learn:
    div  First you pillage, then you burn
    div  On your birthday. *stomp*
    div  Happy birthday. *stomp* 
    p
    div  Indigestion's what you'll get
    div  From the enemies you've 'et
    div  On your birthday. *stomp*
    div  Happy birthday. *stomp* 
    p
    div  Now you've aged another year,
    div  Now you know that death is near,
    div  On your birthday. *stomp*
    div  Happy birthday. *stomp*