---
layout: base.njk
---

section.one-info
  h2.section-header Floors
  .donut-container
    .left-donuts
      a(href="#bonfire" style="z-index: 4;")
        img.donut(src="/images/bonfire.svg")
      a(href="#clam" style="z-index: 2;")
        img.donut(src="/images/clam.svg")
      a(href="#loop" style="z-index: 1;")
        img.donut(src="/images/loop.svg")
      a(href="#destiny" style="z-index: 0;")
        img.donut(src="/images/destiny.svg")
    .right-donuts
      a(href="#pecker" style="z-index: 3;")
        img.donut(src="/images/pecker.svg")
      a(href="#bmf" style="z-index: 2;")
        img.donut(src="/images/bmf.svg")
      a(href="#black_hole" style="z-index: 1;")
        img.donut(src="/images/black_hole.svg")
      a(href="#foo" style="z-index: 0;")
        img.donut(src="/images/foo.svg")
section#bonfire.one-info
  h2.section-header Bonfrie
  p dnd sometimes
section#pecker.one-info
  h2.section-header Pecker
  p previously nerds, now gay nerds
section#clam.one-info
  h2.section-header Clam
  p The Gaymer floor of Random. It's home for a large collection of consoles, video games, and board games. Our floor is proudly loud and never sleeps. We feast on McDonald's and homemade pasta. Our communal fridge and cupboard is filled with ingredients and is only getting bigger! We love plushies and our lounge is filled with them. We are home to the best bathroom in Random that has been recently renovated and both of our bathrooms are equipped with bidets. You will often find us planning the next revolution against the filthy Random Hall government. We only house fourteen soldiers but the clam lives within many others around the dorm and the MIT campus!
section#bmf.one-info
  h2.section-header BMF
  p their mom has been done
section#loop.one-info
  h2.section-header Loop
  p cats and non-men
section.one-info(id="black_hole")
  h2.section-header Black Hole
  p purple hole
section#destiny.one-info
  h2.section-header Destiny
  p swingy swingy swingy swing
section#foo.one-info
  h2.section-header Foo
  p one day they are going to get an actual name
