---
layout: base.njk
---

section.one-info
  h2.section-header Government Documents
  ul
    li
      | Random Hall's 
      a(href="/constitution") Constitution
    li
      | Random Hall's 
      a(href="/bylaws") Bylaws
section.one-info
  h2.section-header Executive Committee
  p President, Vice President, and Secretary elected in December. Members at Large elected in February.
  ul
    li President (El Presidente): Sara Manos '24
    li Vice-President (Chancellor of the Exchequer): Reyna Ayala '25 
    li Secretary (Aerie of Secrets): Ellie Bultena '26
    li ExecComm Members at Large (War, Famine, Death, Pestilence): Bianca '25, Henry '26, Isabel '25, Nikhita '26
section.one-info
  h2.section-header Judicial Committee
  p Elected in September.
  ul
    li
      b Chair: Liva '25
    li Maia '26
    li June '26
    li April '26
    li Zhi '26
section.one-info
  h2.section-header Other Offices
  p All of these positions, with the following exceptions, are elected or appointed at ExecComm's discretion in February. Desk Captain is chosen once the previous desk captain graduates. The i3 Pointman and UA Representative are elected in September.
  ul
    li Athletics Chair (Sports Commissioner): Andrea '25, Argen '24
    li Blood Committee: Maia '26, Natalie '26
    li Computer Chair (Ben Bitdiddle): Adhami '24
    li Desk Captain (The Gatekeeper) : Sara '24, Aquila '23
    li Earth/Wind/Fire God: Sara '24, Maia '26, Natalie '26
    li EE Lab Stool: June '26, Ellie '26 
    li Games Chair: Wells '25, Nikhita '26 
    li Grocery Chair: Isabel '25, Lauren '25
    li Hair Dye Chair: Bianca '25, Kiran '24, Maia '26, Vicky '25
    li History Chair: Ellie '26, Eva '24, Holden '25, Quinn '26
    li i3 Pointmen: Yinka '26, April '26, Kyle '26
    li Laundry King: Liva '25, Nikhita '26
    li Pet Chair: Kiran '24, Vicky '25
    li Music Chair (Angel of Music): Eva '24, Zimi '25, Reyna '25, Lauren '25
    li Projector Chair: Sara '24, Maia '26, Wells '25
    li Quiche Cabal Chair: Argen '24
    li Room Assignment Chair (Slumlord): Toby '23 (Senior), Bianca '25 (Junior)
    li Roofdeck Chair: June '26, Vicky '25, Argen '24
    li Rush Chairs: Lauren '25, Madison '25 (Senior); June '26, Nikita '26 (Junior)
    li Sewing Chair (Mistress of the Cloth): Kat '25, Isabel '25
    li Shop Bunnies: Reyna '25, Vicky '25, Nikhita '26
    li Social Chairs (Disco Queens): Reyna '25, Rory '24, Quinn '26, Maia '26
    li Soda Chairs (Minister of Beverage Procurement): Kiran '24, Zimi '25, Madison '25
    li Starving Artist: Rory '24, Zimi '25, Maia '26
    li Sustainability Committee: Grace '23, Lauren '25, Nikhita '26, Vicky '25
    li Trunk Room Chair: Lauren '25, Kiran '24, Reyna '25
    li Video Chair: Sara '24 
    li Webmaster: Adhami '24, Holden '25 
    li Weight Room Chair (He-Man, Master of the Universe): June '26