---
layout: base.njk
---

%section.one-info
  %h2.section-header Government Documents
  %ul
    %li
      Random Hall's
      %a{href: "/constitution"} Constitution
    %li
      Random Hall's
      %a{href: "/bylaws"} Bylaws
%section.one-info
  %h2.section-header Executive Committee
  %p President, Vice President, and Secretary elected in December. Members at Large elected in February.
  %ul
    %li President (El Presidente): Alex Bookbinder '23 and Michelle Guo '23
    %li Vice-President (Chancellor of the Exchequer): Sara Manos '24
    %li Secretary (Aerie of Secrets): Reyna Ayala '25
    %li ExecComm Members at Large (War, Famine, Death, Pestilence): Toby '23, Anna '25, Kiran '24, Isabel '25
%section.one-info
  %h2.section-header Judicial Committee
  %p Elected in September.
  %ul
    %li %b Chair: Liva '25
    %li Maia '26
    %li June '26
    %li April '26
    %li Zhi '26
%section.one-info
  %h2.section-header Other Offices
  %p All of these positions, with the following exceptions, are elected or appointed at ExecComm's discretion in February. Desk Captain is chosen once the previous desk captain graduates. The i3 Pointman and UA Representative are elected in September.
  %ul
    %li Athletics Chair (Sports Commissioner): Andrea '25
    %li Computer Chair (Ben Bitdiddle): Adhami '24
    %li Desk Captain (The Gatekeeper) : Sara '24, Aquila '23
    %li Earth/Wind/Fire God: Michelle '23, Sara '24
    %li EE Lab Stool: Grace '23, Reyna '25
    %li Games Chair: Wells '25
    %li Grocery Chair: Isabel '25, Lauren '25
    %li Hair Dye Chair: Bianca '25, Grace '23, Kiran '24
    %li History Chair: Toby '23, Eva '24, Zimi '25, Adhami '24
    %li i3 Pointmen: Yinka '26, April '26, Kyle '26
    %li Laundry King: Michelle '23, Liva '25
    %li Pet Chair: Kiran '24
    %li Music Chair (Angel of Music): Grace '23, Eva '24, Zimi '25
    %li Projector Chair: Bookbinder '23, Wells '25
    %li Quiche Cabal Chair: Grace '23, Michelle '23, Rory '24
    %li Room Assignment Chair (Slumlord): Toby '23 (Senior), Bianca '25 (Junior)
    %li Roofdeck Chair: Sara '24, Argen '24
    %li Rush Chairs: Lauren '25, Madison '25 (Senior); June '26, Nikita '26 (Junior)
    %li Sewing Chair (Mistress of the Cloth): Kat '25, Isabel '25
    %li Shop Bunnies: Reyna '25, Laura '23
    %li Social Chairs (Disco Queens): Reyna '25, Toby '23, Anna '25
    %li Soda Chairs (Minister of Beverage Procurement): Kiran '24
    %li Starving Artist: Katie '23, Rory '24, Zimi '25
    %li Sustainability Committee: Grace '23, Lauren '25
    %li Trunk Room Chair: Toby '23, Kiran '24, Ari '25, Eva '24, Lauren '25, Rory '24
    %li Video Chair: Andy '24
    %li Webmaster: Kat '25, Adhami '24, Kiran '24, Lauren '25
    %li Weight Room Chair (He-Man, Master of the Universe): Anna '25, Allison '24