---
layout: base.njk
---
section
  .image-left
    .side-image-container
      img.side-image(alt="two stacks of four donuts each" src="/images/donuts.webp")
    .side-text
      .side-text-content
        h2.section-header Random is divided into eight "floors"
        | Each taking up half of a physical floor of the dorm. Think two stacks of four donuts each — that'll give you the right mental picture. Each floor houses between 3 and 14 residents, has a complete kitchen with stove, microwave, dishwasher, and up to four refrigerators, and also has two private bathrooms and a lounge. Seven of the floors are co-ed, and the other is non-male.
section
  .image-left
    .side-image-container
      img.side-image(alt="the laundry room in random hall basement" src="/images/washers.webp")
    .side-text
      .side-text-content
        h2.section-header In the basement,
        | one can find a computer room, a workshop, a printer, a music practice room, a weight room, a game area with a punching bag and pool table, and the Alice in Wonderland Theater. Our three washers (Geela, Malseka, Maku) and four dryers (Alatelo, Krank, Akoro, Droog), which residents can all use for free, are also located there; their status can be checked online.
section
  .image-left
    .side-image-container
      img.side-image(alt="random hall front desk with a worker" src="/images/front-desk.webp")
    .side-text
      .side-text-content
        h2.section-header Our front desk
        | sorts mail, runs soda fridge, lends movies, checks out shop keys, and provides sewing machines and/or vacuums to the hole-y and dust-ridden.
section
  .image-left
    .side-image-container
      img.side-image(alt="the roofdeck view at night" src="/images/roofdeck.webp")
    .side-text
      .side-text-content
        h2.section-header Our roof
        | is open for all residents. There we have a wooden roofdeck with tables and chairs. Perfect for meteor-gazing, movie-watching, boffer-fighting, or even tooling.
section
  .image-left
    .side-image-container
      img.side-image(alt="a spherical photo of a 2-room" src="/images/two-room.webp")
    .side-text
      .side-text-content
        h2.section-header Our rooms
        p are of five types, identified by the last digit of their room number. Each type of room has its own quirks and personality but every room has, for each occupant, one network connection, and an MIT standard desk, chair, bookcase, dresser and bed. In addition, rooms are generally personalized by their residents to some degree, the redecoration ranging from posters on the wall to complete paint jobs and replacement furniture, often built by the students.
section
  .image-left
    .side-image-container
      img.side-image(alt="an illustration of the layout of most floors" src="/images/layout.webp")
    .side-text
      .side-text-content
        h2.section-header Types of rooms
        ul
          li
            b One Rooms
            |  are singles in the front of the building, facing Mass Ave.
          li
            b Two Rooms
            |  are doubles next to the one rooms, also facing out to the street.
          li
            b Three Rooms
            |  are singles which look out onto the air and light shafts in the middle of the building.
          li
            b Four Rooms
            |  are singles divided into two halves by arches, and also look out on the shafts.
          li
            b Five Rooms
            |  are divided doubles with outside windows facing the back of the building. Each five room has a large half, typically occupied by an upperclassman,  a small half, typically occupied by a freshman.
section
  .image-left
    a.side-image-container(href="https://whereis.mit.edu/?go=NW61")
      img.side-image(alt="map showing random hall to the north of MIT campus" src="/images/map.webp")
    .side-text
      .side-text-content
        h2.section-header Location
        p Aside from the physical facilities of our building, Random has some unique features due to its location as well. We are located northwest of main campus, on the edge of Central Square. A great benefit of this is that we are very close to a large number of restaurants, which are, in many cases, cheaper and better quality than the on-campus dining options. Added to this is the fact that we have plenty of kitchen space and a supermarket just around the corner, so many of our residents don't eat on campus at all. We are also quite close to the Central Square T stop, making us the closest dorm to a T stop of all of the dorms west of Mass. Ave.
section
  .image-left
    .side-image-container
      img.side-image(alt="a frontview of counters at CVS" src="/images/cvs.webp")
    .side-text
      .side-text-content
        h2.section-header Off-Campus?
        p The idea of living "off campus" often raises a couple of questions: "Isn't it a long way to walk to campus?" and "Do you feel safe being off campus?". To answer the first question, we are only a five minute walk from Lobby Seven, which is exactly the same distance as Burton Connor, one of the closer of the West Campus dorms. As far as safety is concerned, we have had no problems. The walk from campus to Random is entirely along Mass Ave, a busy, populated street, which can make it a lot safer than walks along smaller roads, such as Memorial Drive and Amherst Alley, routes to the West Campus dorms, after dark.
section
  .image-left
    .side-image-container
      img.side-image(alt="picture of the main lounge" src="/images/main-lounge.webp")
    .side-text
      .side-text-content
        h2.section-header Main Lounge
        p Our main lounge, located on Foo Floor, is the venue for most of the large gatherings that take place, including parties, dorm government meetings, and group homework sessions, to name a few. The main lounge also contains a kitchen (behind a bar known, of course, as the Foo bar), a TV, and our homebuilt 24-inch subwoofer.
section
  .image-left
    .side-image-container
      img.side-image(alt="picture of a resident using the saw to cut a piece of wood" src="/images/shop.webp")
    .side-text
      .side-text-content
        h2.section-header Workshop
        p Random has a small but well stocked shop in the basement, equipped with a table saw, drill press, and scroll saw, along with a set of pneumatic tools and an air compressor, plus a fairly complete selection of hand tools, powered and otherwise, good for just about any fairly small project.
section
  .image-left
    .side-image-container
      img.side-image(alt="picture of the study room" src="/images/study.webp")
    .side-text
      .side-text-content
        h2.section-header Study Room
        p The basement contains a kitchen that is rarely used, and thus functions as a quiet study room for Randomites. It's also equipped with a computer perfect for productivity tasks.
section
  .image-left
    .side-image-container
      img.side-image(alt="picture of a piano on the floor Loop" src="/images/piano.webp")
    .side-text
      .side-text-content
        h2.section-header Music
        p Random has three pianos on Destiny, Loop, and Pecker. There's also a (not soundproof) music room that has multiple microphones and guitars.
section
  .image-left
    .side-image-container
      img.side-image(alt="picture of the projector and the white screen" src="/images/aiw.webp")
    .side-text
      .side-text-content
        h2.section-header Alice in Wonderland Lounge/Theater
        p The Alice in Wonderland lounge (so named due to its undulating purple and black floor and low ceiling) contains a pool table. The Alice in Wonderland lounge is also the location of our dorm's theater, which has a projector, DVD and VHS players and a Bose sound system.
section
  .image-left
    .side-image-container
      img.side-image(alt="picture of the weight room" src="/images/weight-room.webp")
    .side-text
      .side-text-content
        h2.section-header Weight Room
        p Random's weight room is set up with all kinds of fitness equipment: free weights, a weight machine, a treadmill, a mini trampoline, and an exercise bike.
section.one-info
  h2.section-header Questions?
  | Feel free to e-mail us — we love meeting prefrosh and are always looking to add to our community. :)
