---
layout: base.njk
---

section.one-info
  h2.section-header Links
  p Helpful hints for the clueless or curious:
  ul
    li
      a(href="/cookbook.pdf") J. Arthur's Cookbook.
      |  This is a helpful guide to living at MIT and specifically at Random Hall, given to freshmen at the beginning of the year.
    li
      a(href="https://laundry.mit.edu/") Laundry Server.
      |  The center for all your laundry needs. It spins! It dries! It tells you the status of the laundry! The time savings are mind-boggling.
