---
layout: base.njk
---

section.one-info
  h2.section-header i3
  .video-container
    div(style="padding:56.25% 0 0 0;position:relative;")
      iframe(allow="autoplay; fullscreen; picture-in-picture" frameborder="0" src="https://player.vimeo.com/video/838646550?h=e5e0c78345" style="position:absolute;top:0;left:0;width:100%;height:100%;")
    div(style="padding:56.25% 0 0 0;position:relative;")
      iframe(allow="autoplay; fullscreen; picture-in-picture" frameborder="0" src="https://player.vimeo.com/video/714461684?h=9f8e6bfd56" style="position:absolute;top:0;left:0;width:100%;height:100%;")
section.one-info
  h2.section-header House Tour
  .video-container
    div(style="padding:56.25% 0 0 0;position:relative;")
      iframe(allow="autoplay; fullscreen; picture-in-picture" frameborder="0" src="https://player.vimeo.com/video/714193402?h=8b0ae453d4" style="position:absolute;top:0;left:0;width:100%;height:100%;")
    div(style="padding:75% 0 0 0;position:relative;")
      iframe(allow="autoplay; fullscreen; picture-in-picture" frameborder="0" src="https://player.vimeo.com/video/562799893?h=1e02ba318d" style="position:absolute;top:0;left:0;width:100%;height:100%;")
section.one-info
  h2.section-header Old Rush/CPW Archive
  p
    | Thanks to the efforts of our dearly cruft bowties, we have 
    a(href="/rusharchive") an almost complete archive you can visit now!
