<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bundle.css">
    <script src="/script.js" defer></script>
    <title>Random Hall</title>
</head>

<body>
    <header>
        <nav class="chocolate sprinkles">
            <a href="/" class="title" data-content="Random Hall">Random Hall</a>
            <div class="nav-container">
                <a href="/floors" data-content="Floors">Floors</a>
                <a href="/people" data-content="People">People</a>
                <a href="https://random-hall.mit.edu/wiki/index.php?title=Main_Page" data-content="Wiki">Wiki</a>
                <a href="/government" data-content="Government">Government</a>
                <a href="/rush" data-content="Rush">Rush</a>
                <a href="/links" data-content="Links">Links</a>
            </div>
        </nav>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        <div class="chocolate dark">
            Website content is under MIT license and <a href="https://github.com/adhami3310/random-hall-web">hosted on Github</a>. Contact us at <a href="mailto:ask-jarthur@mit.edu">ask-jarthur@mit.edu</a>.
        </div>
    </footer>
</body>

</html>